<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SM2</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="../css/estilo.css">
	</head>
	<body>
		<!-- APERTURA CONTENEDOR PADRE GRID -->
		<div class="contenedor-padre-contacto">
			<!-- ITEM HIJO GRID -->
			<div class="navprincipal border">
				<div class="navIzq">
					<ul>
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="../views/productos.html">Productos</a></li>
					</ul>
				</div>
				<div class="navDer">
					<ul>
						<li><a href="../views/nosotros.html">Nosotros</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>	
				</div>
				<div class="logoTop">
					<a href="../index.html"><img id="logoTop1" src="../assets/img/logo_sm.png" alt="logo_principal"></a>
				</div>

			</div>
			<!-- CIERRE ITEM HIJO GRID -->
		<div class="contenedor-contacto">
			<div class="formulario">
			<h1>CONTACTO</h1>
		<!-- >Formulario de contacto -->
			<form action="#"></form>
			<label for="nombre"> Nombre: 
				<input type="text" name="nombre" placeholder="Nombre">
			</label><br>
			<label for="apellido"> Apellido:
				<input type="text" apellido="apellido" placeholder="Apellido">
			</label><br>
			<label for="edad">Edad: 
				<input type="number" name="edad">
			</label>
			<div>Masculino</div>
			<input type="radio" name="género" value="masc">
			<div>Femenino</div>
			<input type="radio" name="género" value="fem">
			<div>Otro</div>
			<input type="radio" name="género" value="otro">
			<br>
				COMENTARIOS
			<div>
				<textarea></textarea>
			</div><br>

			<label for="pass"> Password: 
				<input type="password" name="password" placeholder="Password">
			</label> <br>

			<div>Acepto términos y condiciones
			<input type="checkbox" name="acepta" value="1"></div><br>


			<input type="submit" name="ENVIAR">
			<input type="reset" name="reset">
			<input type="button" name="CLEAR">
			</div>
		</div>

						<!-- APERTURA TERCER ITEM HIJO GRID -->
			<footer class="border">
				<h3>Visitanos en nuestras redes sociales</h3>
				<!-- Logo Face -->
				<div class="footerRedes-contacto">
					<a href="https://www.facebook.com/SM-By-sol-Morales-108890281436299/" target="_blank"><img src="../assets/img/logo_face.png" width="50" height="50" alt="logo_facebook"></a>
					<!-- Logo insta -->
					<a href="https://www.instagram.com/smbysolmorales/?hl=es" target="_blank"><img src="../assets/img/logo_insta.png" width="50" height="50" alt="logo_instagram"></a>
					<!-- Logo contacto -->
					<a href="https://ropa.mercadolibre.com.ar/_CustId_34991201?recos_listing=true&category_id=MLA401159&seller_id=34991201&item_id=MLA928179049&client=recoview-selleritems" target="_blank"><img src="../assets/img/logo_whats.png" width="50" height="50" alt="logo_contacto"></a>
				</div>
			</footer>
		</div>
	</body>
</html>