<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SM2</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="../css/estilo.css">
	</head>
	<body>
		<!-- APERTURA CONTENEDOR PADRE GRID -->
		<div class="contenedor-padre">
			<!-- ITEM HIJO GRID -->
			<div class="navprincipal border">
				<div class="navIzq">
					<ul>
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="../views/productos.html">Productos</a></li>
					</ul>
				</div>
				<div class="navDer">
					<ul>
						<li><a href="#">Nosotros</a></li>
						<li><a href="../views/contacto.html">Contacto</a></li>
					</ul>	
				</div>
				<div class="logoTop">
					<a href="../index.html"><img id="logoTop1" src="../assets/img/logo_sm.png" alt="logo_principal"></a>
				</div>

			</div>
			<!-- CIERRE ITEM HIJO GRID -->
			<main>
		<div>
			<h2>
				¿Quienes somos?
			</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nam obcaecati dolorem, rerum et, dicta velit, natus illo quasi libero quos, odit dolore ullam aut. Modi, hic consequatur accusamus soluta?</p>

		</div>
			<div> <img src="../assets/img/producto.png">
		</div>
	</main>
						<!-- APERTURA TERCER ITEM HIJO GRID -->
			<footer class="border">
				<h3>Visitanos en nuestras redes sociales</h3>
				<!-- Logo Face -->
				<div class="footerRedes">
					<a href="https://www.facebook.com/SM-By-sol-Morales-108890281436299/" target="_blank"><img src="../assets/img/logo_face.png" width="50" height="50" alt="logo_facebook"></a>
					<!-- Logo insta -->
					<a href="https://www.instagram.com/smbysolmorales/?hl=es" target="_blank"><img src="../assets/img/logo_insta.png" width="50" height="50" alt="logo_instagram"></a>
					<!-- Logo contacto -->
					<a href="https://ropa.mercadolibre.com.ar/_CustId_34991201?recos_listing=true&category_id=MLA401159&seller_id=34991201&item_id=MLA928179049&client=recoview-selleritems" target="_blank"><img src="../assets/img/logo_whats.png" width="50" height="50" alt="logo_contacto"></a>
				</div>
			</footer>
		</div>
	</body>
</html>